<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Pariabel | IT Consultant</title>
<meta name="description" content="We are IT consultant. Our focus is to provide technology solutions for your needs.
With us everything is easier." />
<meta name="keywords" content="Pariabeldotcom, Pariabel, IT Solution, Digital Studio, Web Development, Mobile App, Custom Software, Internet Of Things" />
<!-- Favicon -->
<link rel="icon" type="image/png" href="../assets/images/logo-icon.png">

<!-- Bootstrap -->
<link rel="stylesheet" href="<%= stylesheet_link_tag "bootstrap"%>">


<!-- Fontawesome -->
<link rel="stylesheet" href="<%= stylesheet_link_tag "all"%>">

<!-- Scroll -->
<script type="text/javascript" src="./assets/lib/scroll/modernizr.js"></script>
<link rel="stylesheet" src="<%= stylesheet_link_tag "style"%>">

<!-- Root -->
<link rel="stylesheet" href="<%= stylesheet_link_tag "master" %>>

</head>
<body>
<!-- Header -->
<header>
	<div class="nav-header">
		<div class="container">
			<div class="box-header-alt">
				<div class="left-header-alt">
					<div class="box-table">
						<div class="display-table">
							<div class="display-table-cell">
								<div class="box-lang">
									<div class="list-lang">
										<a href="#" class="active-lang">EN</a>
									</div>
									<div class="list-lang">
										<a href="#">ID</a>
									</div>
									<div class="clearer"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="center-header-alt">
					<div class="box-table">
						<div class="display-table">
							<div class="display-table-cell">
								<a href="products-member.html">
									<div class="box-logo">
										<img src="./assets/images/img-logo.png">
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="right-header-alt">
					<div class="box-table">
						<div class="display-table">
							<div class="display-table-cell">
								

								<!-- Sesudah Login -->
								<div class="box-account">
									<div class="box-table">
										<div class="display-table">
											<div class="display-table-cell">
												<div class="box-content-account">
													
													<!-- Jika belum update foto profil -->
													<div class="left-content-account">
														E
													</div>

													<!-- Jika sudah update foto profil
													<div class="left-content-account-alt" style="background-image: url('./assets/images/img-andri.png');">
													</div>
													 -->
													
													<div class="center-content-account">
														<span>Halo</span>
														<div class="title-content-account">Edwin</div>
													</div>
													<div class="right-content-account">
														<i class="fas fa-chevron-down"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="box-dropdown">
										<div class="menu-dropdown">
											<a href="products-member.html">
												<span>Home</span>
											</a>
											<a href="my-account.html">
												<span>My Account</span>
											</a>
											<span class="actLogout">
												Logout
											</span>
										</div>
									</div>
								</div>
								

							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</header>
<!-- Products -->
<section class="cd-section bg-img" style="background-image: url('./assets/images/img-product.png');" id="section1" data-width="1024" data-height="768">
	<div class="overlay-img-black"></div>
	<div class="container">
		<div class="box-content">
			<div class="box-table">
				<div class="display-table">
					<div class="display-table-cell">
						<div class="box-content-product">
							<h1> 
								Our Product
							</h1>
						</div>
						<div class="link">
							<a href="#section2">
								<img src="./assets/images/icon-arrow-down.png" class="icon-arrow-down bounce">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Products -->
<section class="cd-section" id="section2">
	<div class="container">
		<div class="box-product">
			<h3>
				Explore <br /> Pariabel Products
			</h3>
			<div class="list-product">
				<small>
					Web Base & Mobile App
				</small>
				<h5>
					<a href="detail-product.html" target="_blank">
						Streaming and Video Conference (VC)
					</a>
				</h5>
				<div class="content-product">
					<div class="left-content-product">
						<a href="detail-product.html" target="_blank" class="btn-js-learn-more">
							Learn More	
						</a>
					</div>
					<div class="right-content-product">
						<a href="#" target="_blank" class="btn-js-demo">
							<span>
								Demo
							</span>
						</a>
					</div>
					<div class="clearer"></div>
				</div>
			</div>
			<div class="list-product">
				<small>
					Web Base
				</small>
				<h5>
					<a href="detail-product.html" target="_blank">
						Enterprise Resource Planning (ERP)
					</a>
				</h5>
				<div class="content-product">
					<div class="left-content-product">
						<a href="detail-product.html" target="_blank" class="btn-js-learn-more">
							Learn More	
						</a>
					</div>
					<div class="right-content-product">
						<a href="#" target="_blank" class="btn-js-demo">
							<span>
								Demo
							</span>
						</a>
					</div>
					<div class="clearer"></div>
				</div>
			</div>
			<div class="list-product">
				<small>
					Web Base 
				</small>
				<h5>
					<a href="detail-product.html" target="_blank">
						Customer Relationship Management (CRM)
					</a>
				</h5>
				<div class="content-product">
					<div class="left-content-product">
						<a href="detail-product.html" target="_blank" class="btn-js-learn-more">
							Learn More	
						</a>
					</div>
					<div class="right-content-product">
						<a href="#" target="_blank" class="btn-js-demo">
							<span>
								Demo
							</span>
						</a>
					</div>
					<div class="clearer"></div>
				</div>
			</div>

			<div class="clearer"></div>
		</div>
	</div>
</section>

<!-- Contact Us -->
<section class="cd-section bg-img" style="background-image: url('./assets/images/img-contact-us.png');" id="section4" data-width="1024" data-height="768">
	<div class="overlay-img-black-alt"></div>
	<div class="container">
		<div class="box-contact">
			<div class="box-table">
				<div class="display-table">
					<div class="display-table-cell">

						<div class="box-connect">
							<h3>Contact Us</h3>
							<div class="left-connect">
								<img src="./assets/images/img-logo.png">
							</div>
							<div class="right-connect">
								<div class="title-connect">
									OFFICE
								</div>
								<div class="desc-connect">
									Puri Nirwana 1 <br />
									Jl. Kalasan Blok Y No. 10 Pabuaran <br />
									Cibinong - Bogor <br />
									Indonesia 
								</div>
								<div class="info-connect">
									<div class="list-info-connect">
										T : 
										<span>
											0858 - 9581 - 0666 
										</span>
									</div>
									<div class="list-info-connect">
										E : 
										<span>
											contact@pariabel.com 
										</span>
									</div>
									<div class="clearer"></div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Footer -->
<footer class="bg-black">
	<div class="container">
		<div class="box-copyright link">
			<i class="far fa-copyright"></i> 2020 Pariabel.com
			<a href="#section1">
				<div class="box-top">
					<img src="./assets/images/icon-arrow-up.png">
				</div>
			</a>
		</div>
	</div>
</footer>
<div id="viewModalDemo" class="modal fade" role="dialog">
	<div class="box-table">
		<div class="display-table">
			<div class="modal-overlay" data-dismiss="modal"></div>
			<div class="display-table-cell">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="box-modal">


							<div class="box-close-alt" data-dismiss="modal">
								<i class="fas fa-times"></i>
							</div>

							<img src="./assets/images/logo-icon-blue.png">


							<div class="vLogin">
								<h3>
									Login <br /> Pariabel Product
								</h3>
								<form method="POST" action="products-member.html">
									<div class="box-field">
										<input type="text" name="" class="text-field" placeholder="Email">
										<i class="fas fa-envelope icon-field"></i>
									</div>
									<div class="box-field">
										<input type="text" name="" class="text-field" placeholder="Password">
										<i class="fas fa-lock icon-field"></i>
									</div>
									<button class="btn-blue-alt">
										Login
									</button>
								</form>
								<div class="account">
									Don't have an account ? <span class="actRegister">Register</span>
								</div>
								<div class="account-alt">
									<span class="actPass">Forgot Password ?</span>
								</div>
							</div>

							<div class="vRegister display-none">
								<h3>
									Create Account
								</h3>
								<div class="box-field">
									<input type="text" name="" class="text-field" placeholder="Name">
									<i class="fas fa-user icon-field"></i>
								</div>
								<div class="box-field">
									<input type="text" name="" class="text-field" placeholder="No. Telp">
									<i class="fas fa-phone icon-field"></i>
								</div>
								<div class="box-field">
									<input type="text" name="" class="text-field" placeholder="Email">
									<i class="fas fa-envelope icon-field"></i>
								</div>
								<div class="box-field">
									<input type="text" name="" class="text-field" placeholder="Password">
									<i class="fas fa-lock icon-field"></i>
								</div>
								<button class="btn-blue-alt actConfirmRegister">
									Register
								</button>
								<div class="account">
									Already have an account ? <span class="actLogin">Login</span>
								</div>
								<div class="account-alt">
									<span class="actPass">Forgot Password ?</span>
								</div>
							</div>

							<div class="vConfirmRegister display-none">
								<h3>
									Confirm Account
								</h3>
								
								<div class="desc-modal">
									<p>Thank You </p>
									You have created a product pariabel account. Please check your email to verify your account
								</div>

								<div class="account">
									Already have an account ? <span class="actLogin">Login</span>
								</div>
								
							</div>

							<div class="vPass display-none">
								<h3>
									Forget Password
								</h3>
								<div class="box-field">
									<input type="text" name="" class="text-field" placeholder="Email">
									<i class="fas fa-envelope icon-field"></i>
								</div>
								<button class="btn-blue-alt actConfirmPass">
									Process
								</button>
								<div class="account">
									Already have an account ? <span class="actLogin">Login</span>
								</div>
								<div class="account-alt">
									<span class="actRegister">Register</span>
								</div>
							</div>

							<div class="vConfirmPass display-none">
								<h3>
									Confirm Password
								</h3>
								
								<div class="desc-modal">
									Please check your email. We have sent you a new password.
								</div>

								<div class="account">
									Already have an account ? <span class="actLogin">Login</span>
								</div>
								
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>



<div id="viewModalShare" class="modal fade" role="dialog">
	<div class="box-table">
		<div class="display-table">
			<div class="modal-overlay" data-dismiss="modal"></div>
			<div class="display-table-cell">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="box-modal">


							<div class="box-close-alt" data-dismiss="modal">
								<i class="fas fa-times"></i>
							</div>

							<p>Hallo</p>
							<p>
								Let's share this page with your friends or business partners right now.
							</p>

							<div class="box-button-share">
								<button class="button-share">
									<i class="fab fa-facebook-f"></i>
								</button>
								<button class="button-share">
									<i class="fab fa-twitter"></i>
								</button>
								<button class="button-share">
									<i class="fas fa-envelope"></i>
								</button>
								<button class="button-share">
									<i class="fab fa-whatsapp"></i>
								</button>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>

<div id="viewModalLogout" class="modal fade" role="dialog">
	<div class="box-table">
		<div class="display-table">
			<div class="modal-overlay" data-dismiss="modal"></div>
			<div class="display-table-cell">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="box-modal">

							<div class="box-close-alt" data-dismiss="modal">
								<i class="fas fa-times"></i>
							</div>

							<div class="icon-modal">
								<i class="fas fa-question-circle"></i>
							</div>

							<p>
								Halo <b>Edwin Warming Gunawan</b>. Are you sure you want to exit this page?
							</p>

							<div class="text-center">
								<button class="btn-silver" data-dismiss="modal">
									Cancel
								</button>
								&nbsp;
								<a href="products.html">
									<button class="btn-blue">
										Logout
									</button>
								</a>
							</div>

							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>

<div id="viewModalEditProfile" class="modal fade" role="dialog">
	<div class="box-table">
		<div class="display-table">
			<div class="modal-overlay" data-dismiss="modal"></div>
			<div class="display-table-cell">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="box-modal">

							<div class="box-close-alt" data-dismiss="modal">
								<i class="fas fa-times"></i>
							</div>

							<div class="icon-modal">
								<i class="fas fa-user"></i>
							</div>

							<h3>
								Change Profile
							</h3>

							<form method="POST" action="my-account.html">
								<div class="box-field">
									<input type="text" name="" class="text-field" placeholder="Name">
									<i class="fas fa-user icon-field"></i>
								</div>
								<div class="box-field">
									<input type="text" name="" class="text-field" placeholder="No. Telp">
									<i class="fas fa-phone icon-field"></i>
								</div>
								<div class="upload-document">
									<label class="button-upload">
									 	Upload Foto
									 	 <input type="file" class="text-file-alt">
									 </label>
									 <input type="text" class="text-field text-file"  disabled="disabled">
								</div>

								<div class="text-center">
									<button class="btn-silver" data-dismiss="modal">
										Cancel
									</button>
									&nbsp;
									<button class="btn-blue">
										Submit
									</button>
								</div>
							</form>

							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>

<div id="viewModalEditAccount" class="modal fade" role="dialog">
	<div class="box-table">
		<div class="display-table">
			<div class="modal-overlay" data-dismiss="modal"></div>
			<div class="display-table-cell">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="box-modal">

							<div class="box-close-alt" data-dismiss="modal">
								<i class="fas fa-times"></i>
							</div>

							<div class="icon-modal">
								<i class="fas fa-user"></i>
							</div>

							<h3>
								Change Account
							</h3>

							<form method="POST" action="account.html">
								
								<div class="title-field">Email</div>
								<div class="box-field">
									<input type="text" name="" class="text-field">
									<i class="fas fa-envelope icon-field"></i>
								</div>

								<div class="title-field">Password</div>
								<div class="box-field">
									<input type="text" name="" class="text-field">
									<i class="fas fa-lock icon-field"></i>
								</div>

								<div class="text-center">
									<button class="btn-silver" data-dismiss="modal">
										Cancel
									</button>
									&nbsp;
									<button class="btn-blue">
										Submit
									</button>
								</div>
							</form>

							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>
<!-- Jquery -->
<script type="text/javascript" src="<%= javascript_include_tag "jquery" %>"></script>
<script type="text/javascript" src="<%= javascript_include_tag "bootstrap" %>"></script>
<script type="text/javascript" src="<%= javascript_include_tag "main" %>"></script>
<script type="text/javascript" src="<%= javascript_include_tag "parallax" %>"></script>
<script type="text/javascript" src="<%= javascript_include_tag "master" %>"></script>


</body>
</html> 